# Common Filesystem Garbage
.DS_Store
.classpath
.settings
.project
.buildpath
*~
Thumbs.db
Desktop.ini
nbproject
# Project Specific Ignores
lib/config.php
#Titanium build files
titanium/wtfisthis/build