/* begin common css */

article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
/* http://meyerweb.com/eric/tools/css/reset/ v1.0 | 20080212 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

body {
	font: 1.3em arial;
	background: black;
	height: 100%;
}

#wrapper {
	width: 600px;
	margin: 0 auto;
	background-color: #DCE8F2;
}

header {
	background: #7a9fbf;
}

header h1 {
	padding: 10px 0 15px;
	font-size: 40px;
	color: #fff;
}

nav {
	overflow: hidden;
}

noscript {
	border: 1px solid red;
    display: block;
    margin: 0 0 20px;
    padding: 10px;
    width: inherit;	
}

noscript h2 {
	text-align: center;	
}

noscript p {
	margin-bottom: 2px;
	margin-left: 11px;
}

noscript #noscript_image {
	margin: 10px 0;
    width: 490px;	
}
#content, #about, footer {
	padding: 40px;
}

input, textarea {
	font-size: 1em;
}

h1, footer {
	text-align: center;
	word-wrap: break-word;
}

#main, #right {
	background-color: #fff;
	outline: 1px #A8BF54 solid;	
}

.inner {
	padding: 10px;
}

p {
	font-size:14px;
	word-wrap: break-word;
}

/* end common css */

/* begin question-form */

form {
	margin: 0 0 1em 0;
	padding-top: 10px;
}
form fieldset {
	padding: 0;
	border: none;	

}

form ul {list-style: none;padding: 0;margin: 0;}
form#createQeustion li {display: block;padding: 5px 0;}
form legend {display: none;}	
form div {margin:5px 0;}
form h2 {margin-left: 10px;}
form label {display: block;padding-top: 11px; width: 314px;}	
form label > span {color: #666;font-style: italic;}
form label span.not_needed {float: right;color: #666;font-style: italic;}
form input, form textarea {		
	border: 1px solid #ddd;
	background: #fff url(../images/form_input.gif) repeat-x;
}
form input {
	width: 60%;
	height: 32px;	
}
form textarea {
	width: 100%;	
	height: 240px;
	overflow: auto;
}					
form div.submit {
	clear: both;
	text-align: right;
	margin-top: 30px;
}	
form button {
	width: 100%;
	height: 40px;
	line-height: 37px;		
	border-width: 1px;
	background: #A8BF54;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}	
form button:hover { color: #000; }
form input:active, form input:focus {
	border-color: #f00;
}

/* end question-form */

/* begin reply-form */

#reply_to_question {
	padding-top: 30px;
}

#reply_text {
	height: 150px;
}

#reply_to_question button {
	margin-top: 30px;
}

/* begin css tabs */
 
ul#tabnav {
	text-align: left;
	margin: 0 0 1em 0;
	font: bold 11px verdana, arial, sans-serif;
	list-style-type: none;
}
 
ul#tabnav li { 
	display: inline;
}
 
ul#tabnav li.active { 
	background-color: #fff;
}
 
ul#tabnav li.active a { 
	background-color: #fff;
	color: #000; 
	top: 3px;
	padding-top: 6px;
}

ul#tabnav li a {
	background-color: #A8BF54; 
	color: #fff; 
	border: 0;
	text-decoration: none;
	font-size: 1.4em;
	display: block;
	width: 132px;
	padding: 7px;
	margin: 3px 0 3px 3px;
	float: left;
	white-space: nowrap;
}

#about {
	background: #7a9fbf;
}
 
/* end css tabs */

/* jquery validator errors */

form input.error, form textarea.error {
	border: 2px solid red;
}

form label.error {
	padding-top: 5px;
	color: red;
	font-size: 14px;
	display: block;
}

/*	Start view question */ 
div#map_section {
	display:none;	
}

#image_section > p {
	margin-top:5px;	
}

p#question_author_and_date {
	color:#7a9fbf;
}

/* view_select är byte av bild, karta länkar m.m. */
span#view_select {
	font-size:14px;	
}

h2#answers_header {
	margin-top:10px;
}

#answers {
	margin-top: 20px;
}

li.answer {
	list-style-type:none;
	border: solid 1px #a8bf54;
	margin: 5px 0px 0px 0px;
	padding: 5px;
	overflow:hidden;
	font-size:14px;
}

li.answer p.answer_text {
	margin-bottom: 10px;
	font-size: 16px;
}

#question_description {
	font-size: 16px;
}

li.answer div.voting {
	float:right;
}

li.answer p.answer_name {
	color:#7a9fbf;
}


/* throbber loading gif */
#throbber {
	position: absolute;
	width: 600px;
	left: 0;
	margin-top: -500px;
	height: 770px;
	background: rgba(255,255,255,.4);
	padding: 0;
	z-index: 10;
}

#throbber img {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 50%;
	margin-left: -15px;
	margin-top: 445px;
	z-index: 11;
}

div.templates { display:none; }

.question {
	background: rgba(255,255,255,.5);
	overflow: hidden;
	margin-bottom: 20px;
}

.question_thumbnail {
	vertical-align: middle;
}

.question_title {
	padding-left: 20px;
	max-width: 275px;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}

.question_date {
	padding-right: 30px;
	font-size: 12px;
	font-weight: bold;
	float: right;
	line-height: 75px;
}

.question_link {
	display: block;
	width: 100%;
	height: 75px;
	padding: 10px;
	color: #000;
	text-decoration: none;
}

.highlight_reply_form {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}

a#more_link {
   display: block;
   background-color: #A8BF54;
   color: white;
   width: 100%;
   text-align: center;
   height: 1.2em;
   text-decoration: none;
   padding: 0.5em 0;
}

