/* begin common css */

body {
	font: 13px arial;
	background-color: #7A9FBF;
}

h1, #footer {
	text-align: center;
}

a:hover {
	color: #7A9FBF;
}

#wrapper {
	margin: auto auto;
	width: 960px;
	background-color: #DCE8F2;
	overflow: auto;
}

#main, #right {
	background-color: #fff;
	outline: 1px #A8BF54 solid;	
}

.inner {
	padding: 10px;
}

/* end common css */

/* begin question-form */

form#createQuestion {
	margin: 0 0 1em 0;
	padding-top: 10px;
}
form#createQuestion fieldset {
	padding: 0;
	border: none;	
	float: left;
	display: inline;
}
form#createQuestion fieldset.grid_3 {width: 250px;margin: 5px 5px 5px 10px;}
form#createQuestion fieldset.grid_5 {width: 400px;margin: 5px 10px 5px 5px;}
form#createQuestion ul {list-style: none;padding: 0;margin: 0;}
form#createQeustion li {display: block;padding: 5px 0;}
form#createQuestion legend {display: none;}	
form#createQuestion div {margin:5px 0;}
form#createQuestion h2 {margin-left: 10px;}
form#createQuestion label {display: block;padding-top: 11px;}	
form#createQuestion label span {color: #666;font-style: italic;}
form#createQuestion label span.not_needed {float: right;color: #666;font-style: italic;}
form#createQuestion input, form#createQuestion textarea {		
	border: 1px solid #ddd;
	background: #fff url(../images/form_input.gif) repeat-x;
	padding: 3px;
}
form#createQuestion input {
	width: 242px;
	height: 22px;	
}
form#createQuestion textarea {
	width: 392px;	
	height: 134px;
	overflow: auto;
}					
form#createQuestion div.submit {
	margin: 10px;
	width: 660px;
	clear: both;
	text-align: right;
}	
form#createQuestion button {
	width: 150px;
	height: 37px;
	line-height: 37px;		
	border-width: 1px;
	background: #A8BF54;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}	
form#createQuestion button:hover { color: #000; }
form#createQuestion input:active, form#createQuestion input:focus {
	border-color: #f00;
}

/* end question-form */

/* begin css tabs */
 
ul#tabnav {
	text-align: left;
	margin: 0 0 1em 0;
	font: bold 11px verdana, arial, sans-serif;
	list-style-type: none;
	padding: 3px 10px 3px 10px; 
}
 
ul#tabnav li { 
	display: inline;
}
 
ul#tabnav li.active { 
	background-color: #fff;
}
 
ul#tabnav li.active a { 
	background-color: #fff;
	color: #000; 
	position: relative;
	top: 3px;
	padding-top: 6px;
}

ul#tabnav li a {
	padding: 3px 4px; 
	border: 1px solid #7A9FBF;
	background-color: #A8BF54; 
	color: #fff; 
	margin-right: 0px;
	text-decoration: none;
	border-top: none;
}
 
ul#tabnav a:hover {
	background: #fff;
	color: #000;
}
 
/* end css tabs */